<h1>Convert <%= @first_currency %></h1>

<p>Go <a href="/forex">back</a>.</p>

<ul>
  <% @currency_key_vector.each do |currency_key| %>
  <li>
    <a href= <%= "/forex/" + @first_currency.to_s + "/" + currency_key.to_s %> >
      Convert 1 <%= @first_currency %> to <%= currency_key %>...
    </a>
  </li>
  <% end %>
</ul>